/*
    (C) Jani Haiko, 2018
*/

body{
    margin: 0;
    width: 100%;
    max-width: 960px;
}

.info{
    margin: 1%;
}
noscript{
    color: red;
}

#errorArea{
    display: none;
    color: red;
}

textarea{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 98%;
    height: 300px;
    margin: 1% 1% 0 1%;
}
small{
    margin-left: 1%;
}
#settings small{
    margin: unset;
}
#languages_wrapper{
    display: none;
}

#buttons{
    float: left;
    display: block;
    width: 100%;
    margin: 10px 0 5px 1%;
}

#noticeAboutLimits{
    color: red;
}

#settings{
    width: 100%;
    float: left;
    clear: both;
}
fieldset{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    width: 100%;
}

#github{
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}